div.hintbutton {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#hint-button-overlay
{
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.box {
    position: relative;
    background: rgba(50, 50, 50, 0.9);
    border: 1px solid #5e5e5e;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font: 400 14px/1.55 "Open Sans", sans-serif;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.box.hb-header
{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.box .hb-icon
{
    color: white;
    padding-right: 5px;
}

.box.hb-header.hb-header-caption
{
    padding-left: 5px;
    vertical-align: middle;
}

.box.hb-body
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hintbutton-textfield {
    padding-right: 16pt !important;
}

.hintbutton-button {
    position: relative;
    display: inline-block;
    right: 15pt;
    top: 4px;
    margin-right: -18pt;
    width: 16px;
    height: 24px;
    transition: color 0.140ms;
    color: #a3a3a3;
}

.hintbutton-button:hover {
    color: #474747;
    cursor: pointer;
}

.hintbutton-button:focus {
    outline: none;
}

#hintbutton-popup-root
{
    position: absolute;
    min-width: 200px;
    opacity: 0;
    visibility: collapse;
    transition:visibility 0s linear 0.2s, opacity 0.2s linear;
    max-width: 400px;
}

#hintbutton-popup-root.showed {
    opacity: 1;
    visibility:visible;
    transition-delay:0s;
    pointer-events: auto;
    cursor: pointer;
}

#hintbutton-popup-root.default-position
{
    top: 10px;
    left: 10px;
}


#hintbutton-popup-root.default-position.in-bottom
{
    bottom: 10px;
    left: 10px;
    top: initial;
}


#hintbutton-popup-root:focus {
    outline: none;
}